/* main background */


/*utility style. This is so It is easier to find the space the poster is taking */
/* .media-container {
   border: 1px solid black;
} */

/* poster Display Animation */
.poster-slidein-start{
  opacity:0;
  transform: translate(-20vw, 0);
  transition: transform 2000ms, opacity 2000ms;
}


.poster-slidein-end{
  opacity: 1;
  transform:translate(0);
  transition: transform 2000ms, opacity 2000ms;
}
/* END of poster Display Animation */

/* movieInfo Display Animation */
.movieInfo-animation{
  animation: slidein 2000ms;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(20vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* END of movieInfo Display Animation */

/* need to work this style below */
iframe {
  width: 600px;
  height: 355px;
}

/* Trailer icon styles */
.trailer-container {
  position: relative;
}

.trailer-icon {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index: 999;
}

.trailer-text {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: .5rem;
}


/* toggling the display for play icon */
.display-toggle-none {
  display: none;
}

.display-toggle-block {
  display: block;
}

/* trailer style end */


/* Adding style to the previous search list. This is where the previous searches will populate. */
.list-item {
  list-style-type: none;
  padding: .2rem;
  text-align: center;
}

/* position the clear button at the bottom of search history */

.clearBtn-container {
  padding-top: 1rem;
}

/* If the searched movies names are hovered */
.list-item:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(81, 81, 217, 0.868);
  border: 1px solid white;
}

/* streaming service style on hover */
#streaming-services>a {
  transition: transform .5s;
}

#streaming-services>a:hover {
  transform: translateY(-10px);
}

/*--Modal Section--*/
/* The Modal (background) */
.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #00d1b2;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
  text-align: center;
  color: white;
}

h2 {
  font-weight: bold;
  font-size: xx-large;
}

/* The Close Button
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
} */

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*--End of Modal Section--*/

/*--Star of poster-display modal upon click-- */
.poster-display{
  cursor: pointer;
}

.poster-in-modal{
  height: auto;
  width: 50%;
  transition: opacity 1000ms;
}

/* utility class for animation */
.fade-out{
  opacity: 0;
}
/* --END of utility class for animation */

.transparent-modal{
  background-color: #4a4a4a00;
  border: none;
}

/*--- End of poster-display modal upon click end styling--- */


/* movie information styling */
#general-movie-info>li {
  border-bottom: 1px solid black;
  font-weight: 500;
}

/* styling slide in buttion for the movie plot overview */


.slidein {
  display: none;
}

.plot-overview {
  text-align: center;
  display: none;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.slidein-button {
  height: 100%;
  padding-left: 0;
  padding-right: 0.1rem;
}

/* for rotating the slidein button when clicked */
.rotate180{
  transform: rotate(180deg);
}

.button-content{
   writing-mode: vertical-lr;
}

/* movie list display modal  */
.modal-content-movie {
   border-bottom: 1px solid black;
   list-style-type: none;
   cursor: pointer;
   min-width:30%;
   text-align: center;
   margin:auto;
}

.modal-content-movie:hover{
   background-color: rgba(81, 81, 217, 0.868);
   color:white;
   border-bottom: 1px solid white;
}

.modal-header{
   margin: auto;
   font-size: 1.5rem;
   margin-bottom: 2rem;
   border-bottom: 2px solid;
   width: 30%;
   font-weight: 700;
}

/* media Queries for responsiveness */


/* for touch screens and smaller*/
@media screen and (max-width: 1015px){
  .media-container{
    min-width:fit-content;
  }
}

@media screen and (max-width: 890px){
  .media-container{
    flex-wrap: wrap;
    justify-content: center;
  }

  .plot-overview{
    height: fit-content;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .slidein-button{
    flex-direction: column;
    padding:0.4rem;
  }

  .button-content{
    margin-left:15%;
  }

  .slidein-button i{
    transform: rotate(90deg);
  }

}

@media screen and (max-width: 769px){
  #streaming-services{
    text-align:center;
  }
}

@media screen and (max-width: 760px){
  .plot-overview {
    width:60%;
  }
}

@media screen and (max-width: 545px){
  .slidein-button {
    padding-right:22%;
  }

  .button-content{
    writing-mode:horizontal-tb;
  }

  .slidein-button i {
    margin-left:50%;
  }
}



