/* main background */


/*utility style. This is so It is easier to find the space the poster is taking */
.media-container {
   border: 1px solid black;
}

/* Adding style when the trailer thumbnail is hovered */

/* need to work this style below */
iframe{
  width:600px;
  height:355px;
}

/* Trailer icon styles */
.trailer-container{
 position:relative;
}

.trailer-icon{
   position:absolute;
   top: calc(50% - 50px);
   left: calc(50% - 50px);
   z-index:999;
}

.trailer-text{
   background-color: rgba(255,255,255,0.4);
   border-radius: 5px;
   padding:.5rem;
}

#play-icon{
   width:100px;
}

/* toggling the display for play icon */
.display-toggle-none{
   display: none;
}

.display-toggle-block{
   display: block;
}
/* trailer style end */


/* Adding style to the previous search list. This is where the previous searches will populate. */
.list-item{
   list-style-type: none;
   padding:.2rem;
   text-align: center;
}
/* position the clear button at the bottom of search history */

.clearBtn-container{
   padding-top:1rem;
}
/* If the searched movies names are hovered */
.list-item:hover{
   cursor: pointer;
   color:white;
   background-color: rgba(81, 81, 217, 0.868);
   border: 1px solid white;
}

